
@c-background: 			#eee;
@c-stroke: 				#77bbba;
@c-fill:				#ccc;

@c-stroke:				#ccc;
@c-fill:				transparent;
@c-stroke-width:		2;



.svg-container{
	border: 2px solid @c-stroke;
	width: 550px;
	height: 450px;
	margin: auto;
}

.canvas{
	background: @c-background;
	fill: @c-fill;
}

.circle{
	fill: @c-fill;
	stroke: @c-stroke;
	stroke-width: @c-stroke-width;
}


.c-s{					//circle select box
	stroke-width: 0;
	stroke: #77bbba;
	fill: transparent;

}

.c-s-s, .c-s-h {		//circle select box selected, circle select box hover 
	stroke-width: 3px;
}

