
@background: 			#eee;
@background-stroke:		#ccc; 
@stroke: 				#77bbba;
@fill:					#ccc;



.svg-container{
	border: 2px solid @stroke;
	width: 550px;
	height: 450px;
	margin: auto;
}

.canvas{
	background: @background;
	
}

.circle{
	fill: @fill;
}


.c-s{					//circle select box
	stroke-width: 0;
	stroke: @stroke;
	fill: transparent;

}

.c-s-s, .c-s-h {		//circle select box selected, circle select box hover 
	stroke-width: 3px;
}

