
.button {

}


.viewList {

}

.view {
    width: 100%;
    min-height: 40px;

    background: lightgray;
    border: 1px solid dimgray;

    margin-top: 3px;
}

.hidden {
    visibility: hidden;
}

.icon-group {
    background: url('../mm/group-512px.svg');
    width: 8rem;
    height: 8rem;
    background-size: 100%;
    margin-bottom: 3rem;
}


.timer {
    font-size: 100px;
}