


.center, .center > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.slider {
    display: block;
}

.icon-group {
    background: url('../mm/group-512px.svg');
    width: 8rem;
    height: 8rem;
    background-size: 100%;
    margin-bottom: 3rem;
}

.glyphicon {
    font-size: 12rem;
}

#play {
    margin-top: 40%;
}